@charset "utf-8";
/* CSS Document */
html ul {
    list-style: none;
    margin: 0;
}
p {
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: unset;
    box-sizing: border-box;
}
li h4 {
    margin: 20px 0 3px 0
}
body {
    background-color: #FFCCCC;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
div {
    box-sizing: border-box;
}
header,footer {
    background-color: aqua;
}
header {
    height: 50px;
}
footer{
    height: 75px;
}
.espacio-abajo {
    margin-bottom: 44px;
}
.espacio-abajo-medio {
    margin-bottom: 12px;
}
.fondo-perfil {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-left: 10px;
}
.subtitulo {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: #434866;
}
.fondo-titulo-cuadro {
    color: #ffffff;
    background-color: #ff9999;
    border-radius: 8px;
}
.titulo-cuadro {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}
.subtitulo-cuadro {
    font-weight: 700
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.flex-container-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.fondo-celeste {
    background-color: #7c89ac;
    padding: 15px;
    width: 100%;
    border-bottom-left-radius: 8px;
}
.fondo-azul {
    background-color: #434866;
    padding: 15px;
    width: 100%;
    border-bottom-right-radius: 8px;
}
.fecha {
    font-weight: 700;
}
.subtitulos-bordes {
    border: 1px outset #333366;
    border-radius: 15px;
    padding: 10px;
    max-width: 65%;
    text-align: left;
}
.ancho-articulo {
    width: 50%;
}
.contenido-articulo {
    padding-left: 14px;
}
.estilo-imagen {
    border-radius: 8px;
}
.contenedor-principal {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
    .ancho-articulo {
        width: 100%;
    }
    .subtitulos-bordes {
        text-align: center;
        max-width: 100%;
    }
    .fondo-celeste {
        width: unset;
        border-bottom-left-radius: 0px;
    }
    .fondo-azul {
        width: unset;
        border-bottom-left-radius: 8px;
    }
    .fondo-perfil {
        display:none;
    }
    .estilo-imagen {
        margin-bottom: 12px;
    }
    .contenido-articulo {
        padding-left: 0px;
    }
    header h1 {
        text-align: center;
    }
    .foto-centrar {
        align-items: center;
    }
    .espacio-abajo{
        margin-bottom: 16px;
    }
}